In [2]:
#import pandas
import pandas as psd

In [3]:
#read the file using pandas and assign it into a variable 
data = psd.read_csv("Copie_groupe_6.csv", sep=",", skiprows=1)
data.sample()

,1 . Numéro d'Articledans le corpus,2. Média,3. Titre article,4. Sujet,"4bis. Si Autre, préciser",5. Type,5bis Type2. Caractérisation type,"5ter. Type3. Caractérisation interviewée (entretien), portrait, tribune","5quatro. Type4. Si entretien, caractériser",6. Rubrique,...,30bis Voix 3 Identité,31 Voix 4 Fonction,31bis Voix 4 Identité,32 Voix 5 Fonction,32bis Voix 5 Identité,33 Voix 6 Fonction,33bis Voix 6 Identité,34 Voix 7 Fonction,34bis Voix 7 Identité,Nom codeur
31,595,Le Monde,"Le propriétaire de ""Valeurs actuelles"" en posi...",Autre,Nice-Matin,Article,NP,NP,NP,Société,...,NP,NP,NP,NP,NP,NP,NP,NP,NP,Mickael

In [4]:
#Count the unique values for each media

In [5]:
data["2. Média"].value_counts()

Le Monde       39
Le Figaro      37
Libération     33
Le Parisien    16
L'Humanité      6
La Croix        3
Name: 2. Média, dtype: int64

In [6]:
#Count the unique values for each subject
data["4. Sujet"].value_counts()

Autre     122
RN          8
Macron      4
Name: 4. Sujet, dtype: int64

In [7]:
#count the unique values for type 
data["5. Type"].value_counts()

Article                 89
Chronique               20
Portrait                13
Interview                3
Analyse                  2
Tribune                  2
Réponse aux lecteurs     1
Reportage                1
FactChecking             1
Entretien                1
Enquete                  1
Name: 5. Type, dtype: int64

In [8]:
#count the unique values for rubriques
data["6. Rubrique"].value_counts()

Politique-Elections    70
Société                34
Médias & culture       12
Actualité              11
Débat                   3
Economie                2
FactChecking            1
Portraits               1
Name: 6. Rubrique, dtype: int64

In [9]:
##count the unique values for type 
data["8. Méta-thème (agrégat)"].value_counts()

Presse             92
France             18
Droite             10
Immigration         5
Droits humains      3
Droits sociaux      1
Immobilier          1
Radio               1
Journalisme         1
Feminisme           1
Le pen              1
Name: 8. Méta-thème (agrégat), dtype: int64

In [10]:
#Replace Jerôme par Jérôme 
data["10. Auteur"] = data['10. Auteur'].str.replace('Jerôme', 'Jérôme')
#count the 10 mean authors
data["10. Auteur"].value_counts().head(10)

Le Figaro             6
Le Parisien           5
Jérôme Lefilliâtre    4
Pierre Lepelletier    4
AFP                   3
Jérôme Lefilliatre    3
Alexandre Berteau     3
Olivier Faye          3
Guillaume Tabard      3
Lucie Soullier        3
Name: 10. Auteur, dtype: int64

In [11]:
#Calculate the max for number of words
data['12. Nombre de mots'].max()

9175

In [12]:
#Calculate the min for number of words
data['12. Nombre de mots'].min()

270

In [13]:
#Calculate the median for number of words
data['12. Nombre de mots'].median()

922.5

In [14]:
#Calculate the mean for number of words
data['12. Nombre de mots'].mean()

1524.7910447761194

In [15]:
data.sample()

,1 . Numéro d'Articledans le corpus,2. Média,3. Titre article,4. Sujet,"4bis. Si Autre, préciser",5. Type,5bis Type2. Caractérisation type,"5ter. Type3. Caractérisation interviewée (entretien), portrait, tribune","5quatro. Type4. Si entretien, caractériser",6. Rubrique,...,30bis Voix 3 Identité,31 Voix 4 Fonction,31bis Voix 4 Identité,32 Voix 5 Fonction,32bis Voix 5 Identité,33 Voix 6 Fonction,33bis Voix 6 Identité,34 Voix 7 Fonction,34bis Voix 7 Identité,Nom codeur
23,587,Libération,"Chez LR, des racines et du zèle",Autre,LR,Chronique,journaliste interne,NP,NP,Politique-Elections,...,"Laurent Wauquiez, patron de LR",6,"Samuel Hutington, professeur américain",5,"Frédéric Saint-Clair, chronique à Valeurs actu...",6bis,"Cécile Alduy, sémiologue",6,"Bruno Cautrés, politologue",Mickael

In [16]:
#Calculate le number of articles by date
data["9bis Date 2 pour graphe *mois-anné*"].value_counts()

02-2018    18
09-2018    14
12-2018    14
10-2018    13
01-2019    12
11-2018    11
06-2019     9
12-2017     9
07-2019     8
05-2019     7
03-2018     6
01-2018     5
11-2017     4
10-2017     3
02-2019     1
Name: 9bis Date 2 pour graphe *mois-anné*, dtype: int64